# python related
.ipynb_checkpoints
__pycache__
*.egg-info
settings.json

# Operator build artifacts
lib
build
build_kernel
*.a
*.o
*.so

# Ascend runtime artifact
kernel_meta_temp_*
kernel_meta/

# benchmark logs
profiling-results
*.csv
*.log

# CAD
.vscode/
